<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>

  <!--
    Import the official Minima stylesheet first so we get most of the definitions
    needed for the minima theme, but then import the W3 CSS stylesheet so we override
    some definitions.
  -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/w3.css" | relative_url }}">

  <!-- Simple shopping cart. -->
  <script src="{{ "/assets/js/cart-localstorage.min.js" | relative_url }}"></script>
</head>
