<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<!-- include these here so they're available in all HTML documents. -->
<link rel="stylesheet" href="{{ site.url}}/{{ site.baseurl }}/assets/css/w3.css">
<script src="{{ site.url }}/{{ site.baseurl }}/assets/js/cart-localstorage.min.js" type="text/javascript"></script>

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
